{% extends 'base/master.html' %}
<!-- подключаем (загружаем) master.html страницу -->

{% block title %}Лента новостейт{% endblock %}

{% block content %} <!--Єто директиві jinja джинжа пишется иначе-->
<div class="main-box">
    <h2>Лента новостей</h2>
    {% if 'user' in session and session['user'] == 'admin' %}
            <a href="/news/create">Добавить новость</a>
    {% endif %}
    <table id="news_table"> <!-- Ordered List, внутри которога <li> list item несколько -->
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>About</th>
                <th>Content</th>
                <th>Image</th>
                <th>Publish</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for article in context.all_news %}
            <tr>
                <td>{{ article[0] }}</td>
                <td>{{ article[1] }}</td>
                <td>{{ article[2] }}</td>
                <td>{{ article[3] }}</td>
                <td>
                    <img class="logo" src="{{ url_for('static', filename=article[4]) }}" alt="Faled">
                </td>
                <td>{{ article[5] }}</td>
                <td>{{ article[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}